*.cache
cfg/video.txt
cfg/config.cfg
save
maps/workshop
SAVE
screenshots
gamestate.txt
stats.txt
workshop_log.txt
voice_ban.dt
modelsounds.cache
**.log
demoheader.tmp
*.dem
desktop.ini
bin
P2Multichunker.exe
postcompiler
srcmaps/instances
platform
*.lnk
**config.cfg
*.cache
*.vmx
*.prt
