*.cache
cfg/video.txt
cfg/config.cfg
save
maps/workshop
!maps/*.bsp
!**/_master.cache
SAVE
screenshots
gamestate.txt
stats.txt
workshop_log.txt
voice_ban.dt
modelsounds.cache
**.log
demoheader.tmp
*.dem
desktop.ini
